@import "core.scss";

$btn-prefix: $class-prefix + "-btn";

$btn-color: $color-black !default;

$btn-bg: $color-white !default;

$btn-ghost-color: $color-white !default;

$btn-ghost-bg: $color-transparent !default;

@mixin button-color($color, $bg) {
    color: $color;
    background-color: $bg;

    &:hover {
        color: $color;
    }
}

@mixin normalize($args...) {
    color: nth($args, 1);
    background-color: nth($args, 1);
}

@mixin button-box($color) {
    box-shadow: 0 0 3px $color;

    @content;
}

@mixin button-shape($border-width, $border-style) {
    border: $border-width $btn-color $border-style;
    background-color: $btn-bg;

    @include button-box(#333) {
        padding: $size-base * 3;
    }
}

#{$btn-prefix} {
    @include normalize($btn-color, $btn-bg);

    border-color: $btn-color;

    @include button-box(#000) {
        padding: $size-base * 2;
    }


    &.ghost {
        @include button-color($btn-ghost-color, $btn-ghost-bg);
    }

    &.outline {
        @include button-shape(1px, solid);
    }
}
